.__container {
  width: 1234px;
}

.header__container {
  background-color: black;
}

.app__header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.app__menu {
  color: white;
}

.btn__header {
  color: #ffffff;
}

.app__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 295px;
  height: 24px;
  left: calc(50% - 295px / 2 - 0.5px);
  top: 36px;
}

.btn__header {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 101px;
  height: 46px;
}

.menu__section {
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  color: #ffffff;
}

.menu__section:not(:last-child) {
  padding-right: 23px;
}

.background {
  height: 944px;
  background-image: url("../resources/giphy\ 1.gif"),
    url("../resources/Mask.gif");
  background-repeat: no-repeat;
  background-position: 944px 15px, 0% 0%;
  background-size: 920.13px 914px, contain;
}
.title__header {
  margin: 0 auto;
  padding-top: 352px;
  height: 140px;
  font-weight: 600;
  font-size: 120px;
  line-height: 140px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .background {
    height: 744px;
    background-position: 703px 0px, 0% 0%;
    background-size: 770.13px 745px, contain;
  }
  .title__header {
    margin: 0 auto;
    padding-top: 252px;
    height: 140px;
    font-size: 110px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .background {
    height: 710px;
    background-position: 589px 1px, 0% 0%;
    background-size: 727.13px 705px, contain;
  }
  .title__header {
    margin: 0 auto;
    padding-top: 252px;
    height: 140px;
    font-size: 80px;
  }

}
@media (min-width: 768px) and (max-width: 991px) {
    .background {
    height: 630px;
    background-position: 411px 4px, 0% 0%;
    background-size: 637.13px 615px, contain;
  }
  .title__header {
    margin: 0 auto;
    padding-top: 226px;
    height: 140px;
    font-size: 60px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
    .background {
    height: 730px;
    background-position: 230px 65px, 0% 0%;
    background-size: 565.13px 545px, contain;
  }
  .title__header {
    margin: 0 auto;
    padding-top: 256px;
    height: 140px;
    font-size: 38px;
  }
}
@media (min-width: 350px) and (max-width: 479px) {
    .background {
      height: 730px;
      background-position: 173px 132px, 0% 0%;
      background-size: 389px 386px, contain;
  }
  .title__header {
    margin: 0 auto;
    padding-top: 256px;
    height: 140px;
    font-size: 32px;
  }
}
@media (max-width: 320px) {
}





