.__container {
  width: 1234px;
}

.header__container {
  background-color: black;
}

.app__header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.app__menu {
  color: white;
}

.btn__header {
  color: #ffffff;
}

.app__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 295px;
  height: 24px;
  left: calc(50% - 295px / 2 - 0.5px);
  top: 36px;
}

.btn__header {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 101px;
  height: 46px;
}

.menu__section {
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  color: #ffffff;
}

.menu__section:not(:last-child) {
  padding-right: 23px;
}

.background {
  height: 944px;
  background-image: url("../resources/giphy\ 1.gif"),
    url("../resources/Mask.gif");
  background-repeat: no-repeat;
  background-position: 944px 15px, 0% 0%;
  background-size: 920.13px 914px, contain;
}
.title__header {
  margin: 0 auto;
  padding-top: 352px;
  height: 140px;
  font-weight: 600;
  font-size: 120px;
  line-height: 140px;
  text-align: center;
  color: #ffffff;
}





